### Range Function

- range( start,end,step)
- it includes all intgers from `start` up to `end` with an increment of `step` ( including no start but not including end)
- if `step` is not provided then it is 1 by defult

In [5]:
range(5,11)

range(5, 11)

- list command can be used to create list of no generated by range

In [6]:
list(range(5,11))

[5, 6, 7, 8, 9, 10]

In [7]:
sum = 0
for i in range(5,11):
    sum += i    
sum

45

In [12]:
list(range(2,19,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
list(range(20,1,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [15]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
import math
for i in range(1,10):
    print(i, math.factorial(i))

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880

### Scientific No approximation
- for too large float no and too small float no scientific no system is used to approximate the value
- it will help to pravent memory overfloe

In [17]:
1.156e+5

115600.0

In [18]:
import math
for i in range(1,40,3):
    print(i, float(math.factorial(i)))

1 1.0
4 24.0
7 5040.0
10 3628800.0
13 6227020800.0
16 20922789888000.0
19 1.21645100408832e+17
22 1.1240007277776077e+21
25 1.5511210043330986e+25
28 3.0488834461171387e+29
31 8.222838654177922e+33
34 2.9523279903960416e+38
37 1.3763753091226346e+43

### String Operations{ Indexing ,slicing}

- `String` is sequence of charecter with in double quote (" ") or single quote (' ').

In [22]:
s = "Hellow World"
s

'Hellow World'

In [23]:
print(s)

Hellow World

In [26]:
p = ''   # Empty Strings
p

''

- String as a Input

In [42]:
name = input(" what is your name :  ")   
print( "hellow Mr",name)

 what is your name :   Jhon Mark

hellow Mr Jhon Mark

- use of quotation marks in different way...

In [43]:
print("he said, 'it will rain today'") # Single inside double

he said, 'it will rain today'

In [44]:
print('he said, "it will rain today"') # Double inside single

he said, "it will rain today"

In [45]:
print("he said, "it will rain today"") # Double inside double wont work

SyntaxError: invalid syntax (<ipython-input-45-db05647c4ef1>, line 1)

In [46]:
print('he said, 'it will rain today'') # single inside single won't work

SyntaxError: invalid syntax (<ipython-input-46-a62e6860337b>, line 1)

In [47]:
print("he said, \"it will rain today\"") # Escape the double quotes

he said, "it will rain today"

In [48]:
print("he said, \'it will rain today\'") # Escape the single quotes

he said, 'it will rain today'

In [49]:
print('he said, \'it will rain today\'') # # Escape the single quotes

he said, 'it will rain today'

In [50]:
print(""" he said, "it will rain today " """ ) # use of tripple quote

 he said, "it will rain today "

- String Slicing
- String can be sliced like list
- string letter id is from left side 0 to increasing in order 
- string letter id is from right side -1 to decreaseing in order

In [51]:
name

'Jhon Mark'

In [52]:
len(name)

9

In [53]:
name[0]

'J'

In [54]:
name[1]

'h'

In [55]:
name[-2]

'r'

In [57]:
name[:5]

'Jhon '

In [58]:
name[:-3]

'Jhon M'

In [59]:
name[2:1000]

'on Mark'

In [60]:
name[4:4]

''

In [62]:
name[3:4]

'n'

### String Operation and Methods

- Concatenation

In [68]:
str1 = "jhon"
str2 = "Bob"
str3 = str1+str2 # concatenation of two strings
str3

'jhonBob'

In [69]:
str3 = str1+' '+str2  # Add space between two strings
str3

'jhon Bob'

- Repetation

In [70]:
2*str1

'jhonjhon'

In [71]:
2*str1+3*str2

'jhonjhonBobBobBob'

- Length of a string

In [72]:
str = "Hellow"

In [73]:
len(str)

6

In [79]:
# printing each letter in a single line
for i in str:
    print(i)

H
e
l
l
o
w

In [80]:
# removing white spaces betweel letters
for i in str:
    print(i,end = '')

Hellow

In [81]:
# replacing white spaces between leter by single space
for i in str:
    print(i,end = ' ')

H e l l o w

- to check the letter is prasent in string

In [83]:
"H" in "Hellow"

True

In [84]:
'll'in "Hellow"

True

In [85]:
'p' in "Hellow"

False

- Strings are immutable

In [86]:
str = "Hellow"

In [87]:
str[1]

'e'

In [89]:
str[1]="p"  # we can not overwrite the existing charecter

TypeError: 'str' object does not support item assignment

### Some More Useful String Methods

In [90]:
str = "to get Success, Keep working hard "

In [91]:
str.capitalize()

'To get success, keep working hard '

In [92]:
str.title()

'To Get Success, Keep Working Hard '

In [93]:
str.lower()

'to get success, keep working hard '

In [94]:
str.upper()

'TO GET SUCCESS, KEEP WORKING HARD '

In [95]:
str.replace("hard","smart")

'to get Success, Keep working smart '

In [97]:
str.ljust(50)

'to get Success, Keep working hard                 '

In [98]:
str.rjust(50)

'                to get Success, Keep working hard '

In [100]:
str.center(50)

'        to get Success, Keep working hard         '

In [101]:
str.center(5)

'to get Success, Keep working hard '

In [102]:
str.count("s")

2

In [104]:
str.find("r") # find the index of first letter from left

23

In [105]:
str.rfind("r")# find the index of first letter from right

31

In [107]:
abcd = ['any','body','can','dance']
abcd

['any', 'body', 'can', 'dance']

In [108]:
' '.join(abcd)

'any body can dance'

In [109]:
'-|-'.join(abcd)

'any-|-body-|-can-|-dance'

In [110]:
'-_-'.join(abcd)

'any-_-body-_-can-_-dance'

In [112]:
"  python for all  ".lstrip()

'python for all  '

In [113]:
"  python for all  ".rstrip()

'  python for all'

In [114]:
"  python for all  ".strip()

'python for all'

In [115]:
"ten".isdigit()

False