### Python List

- it is a sequence of arbitrary values with in bracket [ ]

In [67]:
a = ['abc',100,3.5,-29]

In [68]:
len(a)    # Length of the list

4

In [69]:
type(a)

list

In [70]:
l1 = ['abc',[1,2,4],6,-5,['d','e','f']] # Nested List

In [71]:
l1

['abc', [1, 2, 4], 6, -5, ['d', 'e', 'f']]

In [72]:
len(l1)

5

In [73]:
l2 = [1,2,4]+[7,8,10] # list concatenation

In [74]:
l2

[1, 2, 4, 7, 8, 10]

In [75]:
l3 = [5,1]*3 # Repetation
l3

[5, 1, 5, 1, 5, 1]

- Indexing... 
- Python index starts fro 0 from left and -1 fro right...

In [76]:
l2

[1, 2, 4, 7, 8, 10]

In [77]:
l2[0]  # first no in list

1

In [78]:
l2[2] # third no from left in list

4

In [79]:
l2[-2] # Second no from right of list

8

- Slicing of list

In [80]:
l1

['abc', [1, 2, 4], 6, -5, ['d', 'e', 'f']]

In [81]:
l1[:2] # from begining to third no

['abc', [1, 2, 4]]

In [82]:
l1[2:] # from third to last element fro left

[6, -5, ['d', 'e', 'f']]

In [83]:
l1[-3:] # from right third to right first element

[6, -5, ['d', 'e', 'f']]

In [84]:
l1[1][0] # Nested indexing

1

In [85]:
for i in l2: # print all the elements of lists
    print(i)

1
2
4
7
8
10

In [86]:
for i,l in enumerate(l2):
    print("element ID",i+1,'of list is',l)

element ID 1 of list is 1
element ID 2 of list is 2
element ID 3 of list is 4
element ID 4 of list is 7
element ID 5 of list is 8
element ID 6 of list is 10

- two or more list can be paired with zip

In [87]:
students = ['John', 'Carl', 'Mac']
points = ['10', '15', '20']
for q, p in zip(students, points):
    print('students', q, 'is worth', p, 'points.')

students John is worth 10 points.
students Carl is worth 15 points.
students Mac is worth 20 points.

In [88]:
y = " I want to learn Python"
y

' I want to learn Python'

In [89]:
l = y.split() # convert string to list
l

['I', 'want', 'to', 'learn', 'Python']

In [90]:
type(l)

list

In [91]:
"10,20.8,9,10".split(',')

['10', '20.8', '9', '10']

- Lists are mutable

In [92]:
l1

['abc', [1, 2, 4], 6, -5, ['d', 'e', 'f']]

In [93]:
l1[0] = 100
l1

[100, [1, 2, 4], 6, -5, ['d', 'e', 'f']]

In [94]:
del l1[0:2]
l1

[6, -5, ['d', 'e', 'f']]

In [95]:
l2

[1, 2, 4, 7, 8, 10]

In [96]:
l2.insert(1,100)
l2

[1, 100, 2, 4, 7, 8, 10]

In [125]:
l3 = [] # Empty List

In [126]:
l3.append(5) # add new element
l3

[5]

In [127]:
l3.append(10) # add another element in list
l3

[5, 10]

In [128]:
l3.insert(1,16) # insert 16 at index 1 from left
l3

[5, 16, 10]

In [129]:
l3.sort()
l3

[5, 10, 16]

In [130]:
l3.remove(5) # remove 5 from list
l3

[10, 16]

In [131]:
l3.reverse()
l3

[16, 10]

### List Comprehension

- List comprehensions use the `for` keyword to create lists in a natural way like they are defined in mathematics:
$$ A = \{n^2 : n\ is\ interger; and\ 0 \leq n \leq 5\}\}$$

In [132]:
A = []
for n in range(6):
    A.append(n**2)
A

[0, 1, 4, 9, 16, 25]

- A list comprehension consists of brackets containing an expression followed by a `for` clause, then zero or more `for` or `if` clauses. The result will be a new list.

In [133]:
A = [n**2 for n in range(6)]
A

[0, 1, 4, 9, 16, 25]

In [134]:
B = [3*2**n-1 for n in range(6)]
B

[2, 5, 11, 23, 47, 95]

In [135]:
C = [m for m in A if m % 2 == 0]
C

[0, 4, 16]

In [136]:
D = [abs(x) for x in [-2, -1, 0, 3]]  # Apply a function to all the elements
D

[2, 1, 0, 3]

In [137]:
fruits = ['   apple', '  banana  ', 'grape   ']
[fruit_i.strip() for fruit_i in fruits]  # Call a method on each element

['apple', 'banana', 'grape']

In [138]:
z = []
for x in [1, 2, 3]:
    for y in [2, 3, 4]:
        if x != y:
            z.append((x, y))
z

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 2), (3, 4)]

In [139]:
[(x, y) for x in [1, 2, 3] for y in [2, 3, 4] if x != y]

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 2), (3, 4)]