# Python For Engineers and Scientist (BASICS)

-Compiled By : R.K.Mallik

### Printing Hellow World With Print Function of Python

In [1]:
print("Hellow World")

Hellow World

In [2]:
### Printing Hellow World by calling fuction from Python console

-From file open New text file and write down code
-{ def Hellow(): print("Hellow World")} and save as hellow.py in same folder
-Call the

-run the hellow.py file and call Hellow() Function

In [7]:
%run hellow.py
Hellow()

 Hellow World

### Statement, Identifier, Key-Words, Built-ins

-Every line in python is Statement

In [8]:
print ("Hellow World")

Hellow World

- Identifer is the name of varibales, functions and modules of the python
- Identifier starts with alphabets or undescore folloed by any combination of numbers, letters and underscore
- Other combinations for alphabets are illigal

### Legal Identifiers

In [11]:
a = 5
a

5

In [12]:
_a = 10
_a

10

In [18]:
_123d = 1001
_123d

1001

#### Illigal Identifiers

In [16]:
1x =5

SyntaxError: invalid syntax (<ipython-input-16-9a74bb55d008>, line 1)

In [19]:
k@=15

NameError: name 'k' is not defined

In [20]:
+x = 100

SyntaxError: can't assign to operator (<ipython-input-20-8b086f644c0a>, line 1)

#### Identifiers are case sensitive

In [22]:
a = 5
A = 10
_a = 15
_A = 2

In [23]:
a

5

In [24]:
A

10

In [26]:
_a

15

In [27]:
_A

2

In [28]:
apple = 100
Apple = 200
applE = 300

In [29]:
apple

100

In [30]:
Apple

200

In [31]:
applE

300

### Key Words

- Python are many key words used for its own purpose
- Those key words cant be used as an identifiers

#### List of Key words in python

In [33]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [34]:
and = 100

SyntaxError: invalid syntax (<ipython-input-34-6812d97312f7>, line 1)

### Built-In

-Python has many built in functions name it is recommended  not to  use it as an identifiers

#### List of Built in functions in python

In [36]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

### Input Output and Asignments

#### OUTPUT STATEMENTS

- Print Command can be used to display output
- For sepearate output use multiple print command or use comma for single print command multiple output
- Computation can be done with in print command
- Print with empaty argument can be used to print blank line

In [8]:
print("#######START########")
print("hellow World")
print()
print(3+4)
print (3,4)
print ("3+4 = ",7)
print("#############END#######")

#######START########
hellow World

7
3 4
3+4 =  7
#############END#######

#### ASSIGNMENT

- Assigning value to the varibales

In [10]:
x = 5
x

5

- Variable can not be used without assignment

In [9]:
print(y)

NameError: name 'y' is not defined

- variable can be reassigned many times

In [12]:
x = 5
x

5

In [13]:
x = 6
x

6

In [15]:
x = x+1
x

8

### USER INPUT

-Input command converts provided data as string

In [17]:
my_num = input("select any no between 10 and 20:  ")
my_num

select any no between 10 and 20:   12

'12'

In [19]:
print(my_num+5)

TypeError: can only concatenate str (not "int") to str

In [20]:
type(my_num)

str

- Use eval or float to convert the numerical string to numerical value

In [21]:
my_num = eval(input("select any no between 10 and 20:  "))
my_num

select any no between 10 and 20:   12

12

In [22]:
print(my_num+10)

22

In [23]:
type(my_num)

int

- avoid using eval command it will create some problem...as per programmer....
- use float or int instead of eval

In [24]:
my_num = int(input("select any no between 10 and 20:  "))
my_num

select any no between 10 and 20:   13

13

In [25]:
type(my_num)

int

In [26]:
my_num = float(input("select any no between 10 and 20:  "))
my_num

select any no between 10 and 20:   14

14.0

In [27]:
type(my_num)

float

### Simultaneous Assignment

In [28]:
a,b = 10,12
print(a,b)

10 12

In [29]:
c,d = a+b, a-b
print(c,d)

22 -2

In [31]:
a,b,c = 2,4,5
print(a,b,c)

2 4 5

In [33]:
e,f,g = a+b,b+c,c-1
print(e,f,g)

6 9 4

#### Swaping value of multiple variables

- Method 1

In [36]:
a,b =1,2 
print(a,b)
temp = a
a = b
b = temp
print(a,b)

1 2
2 1

- Method 2

In [38]:
a,b = 1,2
print(a,b)
a,b = b,a
print(a,b)

1 2
2 1

- Swaping of three variables...

In [39]:
a,b,c = 1,2,3
print(a,b,c)
a,b,c = c,b,a
print(a,b,c)

1 2 3
3 2 1

- Multiple inputs from input and eval commanda

In [40]:
a,b,c,d = eval(input( "provide value of a,b,c,d:  "))
print ( "sum of a,b,c,d is : ", a+b+c+d)

provide value of a,b,c,d:   2,3,4,6

sum of a,b,c,d is :  15

In [41]:
a,b,c,d = int(input( "provide value of a,b,c,d:  "))
print ( "sum of a,b,c,d is : ", a+b+c+d)

provide value of a,b,c,d:   10,11,12,13

ValueError: invalid literal for int() with base 10: '10,11,12,13'

In [42]:
a,b,c,d = float(input( "provide value of a,b,c,d:  "))
print ( "sum of a,b,c,d is : ", a+b+c+d)

provide value of a,b,c,d:   10,11,12,13

ValueError: could not convert string to float: '10,11,12,13'

- int and float command wont work similar to eval command.... we need to assign each variable seperately

In [43]:
a = float(input( "provide value of a:  "))
b = float(input( "provide value of b:  "))
c = float(input( "provide value of c:  "))
d = float(input( "provide value of d:  "))
print ( "sum of a,b,c,d is : ", a+b+c+d)

provide value of a:   10
provide value of b:   11
provide value of c:   12
provide value of d:   13

sum of a,b,c,d is :  46.0

### FUNCTION BASICS

#### Functions

- Functions are the reusable part of the program
- it can take parameters as a input and diplays an output on the basis of provided input and the computation with in program
- it can take empaty parameters and can give finite output
- it start with def followed by function name folloed by ():. Net line of function starts after 4 spaces(intendation)
- with in () there may or may not some parameters

In [44]:
def hw():
    print("Hellow")
    print ("world")

- call the function and see what happens

In [46]:
hw()

Hellow
world

- Function with some parameters

In [51]:
def hw1(p,q):
    print("Hellow Mr",p)
    print("Hellow Mr" ,q)

- call function to greet two person

In [52]:
hw1("john","herry")

Hellow Mr john
Hellow Mr herry

- Return statement can be used to return definite outputs from the computations

In [64]:
# Celsius to Fahrenheit
def c2f(c):
    f = (9/5) * c + 32
    return f

In [65]:
c = float(input(" provide Temperatatute in oC: "))
print( " the converted temperature in oF: ")
print(c2f(c))

 provide Temperatatute in oC:  37.8

 the converted temperature in oF:
100.03999999999999

- we can use function directly with parameter inside ()

In [66]:
# to convert 37.8 oC to oF
c2f(37.8)

100.03999999999999

### NUMBERS AND NUMERICAL OPERATORS

- There are two types of operator Ineger (int) and float numbers
- 1,-1,2,3 are Integers( without decimal)
- 0.1, 0.5,-0.3 are float numbers ( with decimal)
- use type() command to find either no is integer or float

In [67]:
type(1)

int

In [68]:
type(-5)

int

In [69]:
float(-0.2)

-0.2

In [70]:
float(0.11)

0.11

In [71]:
x = -0.5
type(x)

float

- `Integer` data stores whole no and corresponding to the `real` world counts
- `Float` data stores real no and it is approximation to some decimal points
- As it is approimation python can not judge 0.1<0.1000000000000000001

In [75]:
0.1 < 0.1000000000000000001

False

- In general, operations on `int` numbers produce `int` numbers, operations on `float` numbers produce `float` numbers, operations on both `int` and `float` numbers produce `float` numbers.

In [76]:
2-1

1

In [77]:
2.0-1

1.0

In [78]:
2.0-1.0

1.0

In [79]:
2*3

6

In [80]:
2.0*3

6.0

- Division `/` operator always returs `float`

In [82]:
8/2

4.0

In [83]:
11/3

3.6666666666666665

- Use `format` command to display output up to certain decimal point

In [85]:
x = 11/3
print(format(x,'.2f')) # Round x to two digits after the decimal point.

3.67